.swiper-button-prev {
  background-image: url(/svgs/arrow-left.svg);
}

.swiper-button-next {
  background-image: url(/svgs/arrow-right.svg);
}

.swiper-button-prev, .swiper-button-next {
  background-color: transparent;
  border-radius: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  
.swiper-button-next:hover, .swiper-button-prev:hover {
  /* transform: scale(0.9); */
}

.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
}

.swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background-color: #bababa;
}